win_event*.txt
rhino.local.properties
resourcepacks/Quark Programmer Art.zip
options.txt
logs/**
local/kubejs/dev.properties
local/ftbquests/client-config.snbt
local/ftblibrary-client.snbt
local/ftbchunks/client-config.snbt
local/crash_assistant
journeymap/journeymap.log
journeymap/config
config/ftbxmodcompat.snbt
blueprints/**
.qmenu_opened.marker
.mixin.out/**
.curseclient
.cache/**
kubejs/README.txt
config/bettercaves/forge-1_20_1/README.txt
config/bettercaves/README.txt
config/betterdeserttemples/forge-1_20/README.txt
config/betterdeserttemples/README.txt
config/betterfortresses/forge-1_20/README.txt
config/betterfortresses/README.txt
config/betterstrongholds/forge-1_20/README.txt
config/betterstrongholds/README.txt