xaero/world-map
xaero/minimap
win_event*.txt
usernamecache.json
usercache.json
simplebackups
serverconfig/ftbessentials.snbt
saves
rhino.local.properties
resourcepacks/Quark Programmer Art.zip
options.txt
logs/**
local/kubejs/dev.properties
local/ftbultimine-client.snbt
local/ftbquests/client-config.snbt
local/ftblibrary-client.snbt
local/ftbchunks/data
local/ftbchunks/client-config.snbt
local/crash_assistant
kubejs/README.txt
journeymap/server
journeymap/journeymap.log
journeymap/data/sp
journeymap/config
emi.json
config/xaeropatreon.txt
config/voicechat/username-cache.json
config/ftbxmodcompat.snbt
config/crash_assistant/crash_assistant_localization_overrides/README.md
config/betterstrongholds/forge-1_20/README.txt
config/betterstrongholds/README.txt
config/betterfortresses/forge-1_20/README.txt
config/betterfortresses/README.txt
config/betterdeserttemples/forge-1_20/README.txt
config/betterdeserttemples/README.txt
config/bettercaves/forge-1_20_1/README.txt
config/bettercaves/README.txt
config/NoChatReports/README.md
blueprints/**
TrashSlotSaveState.json
ESM/*
.qmenu_opened.marker
.mixin.out/**
.curseclient
.cache/**
!ESM/soundsMuffled.dat
modernfix/structureCacheV1